/converter.asm.rpt
/converter.done
/converter.fit.rpt
/converter.fit.summary
/converter.flow.rpt
/converter.map.rpt
/converter.map.summary
/converter.qsf
/converter.tan.rpt
*.asm.rpt
*.done
*.fit.rpt
*.fit.summary
*.flow.rpt
*.map.rpt
*.map.summary
*.tan.rpt
db/
incremental_db/
*.sof
*.pof
*.qpf
*.pin
*.fit.smsg
*.qws
*.dpf
*.tan.summary
*.map.smsg
